// Importar los estilos de Bootstrap y Angular Material
@use 'bootstrap/scss/bootstrap';
@use '@angular/material' as mat;
@use '_theme-colors' as colors;

// Definir el tema claro
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette,
  )
));

// Definir el tema oscuro
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette,
  )
));

// Aplicar el tema claro por defecto
:root {
  @include mat.all-component-themes($light-theme);
}

// Aplicar el tema oscuro cuando la clase .dark-theme esté presente en el body
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
